---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header .wrapper {
	display: flex;
	align-items: center;
}

.site-header .site-title {
	flex-grow: 1;
}

.site-title .logo {
	max-height: 64px;
	padding: 4px;
}

.image-center {
	width: 100%;
	text-align: center;
}

.bloxhub-banner {
	height: 150px;
}
